{% extends 'base.html' %} {% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h3>Edit Student</h3>
    <form action="/students/edit/{{ student.id }}" method="POST">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="{{ student.name }}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          value="{{ student.email }}"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Update Student</button>
      <a href="/students" class="btn btn-secondary">Cancel</a>
    </form>
  </div>
</div>
{% endblock %}
